.Ball{
    text-align: center;
    background-color: purple;
    border-radius: 50%;
    color: white;
    display: inline-block;
    width: 3em;
    height: 2.25em;
    margin-top: 1em;
    padding-top: .75em;
    margin-right: 0.5em;
    font-weight: bold;
    font-size: 1.5em;
    padding-inline-start: 0px;
}
